<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <commerce.Entities>
      <Sample type="Foundation.Commerce.Connect.Entities.Sample, Foundation.Commerce.Connect" />
    </commerce.Entities>
    <SampleServiceProvider type="Foundation.Commerce.Connect.Services.Samples.SampleServiceProvider, Foundation.Commerce.Connect" singleInstance="true" />
    <pipelines>
      <commerce.samples.getSamples>
        <processor type="Foundation.Commerce.Connect.Samples.GetSamples, Foundation.Commerce.Connect" />
      </commerce.samples.getSamples>
    </pipelines>
    <services>
      <register
        serviceType="Foundation.Commerce.Connect.Providers.ICommerceConnectServiceProvider, Foundation.Commerce.Connect"
        implementationType="Foundation.Commerce.Connect.Providers.CommerceConnectServiceProvider, Foundation.Commerce.Connect" />
      <register
        serviceType="Foundation.Commerce.Connect.Managers.ISampleManager, Foundation.Commerce.Connect"
        implementationType="Foundation.Commerce.Connect.Managers.SampleManager, Foundation.Commerce.Connect"
        lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>