<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <services>
      <register
        serviceType="Feature.Samples.Website.Repositories.ISampleRepository, Feature.Samples.Website"
        implementationType="Feature.Samples.Website.Repositories.SampleRepository, Feature.Samples.Website"
        lifetime="Singleton" />
      <register
        serviceType="Feature.Samples.Website.Controllers.SampleController, Feature.Samples.Website"
        implementationType="Feature.Samples.Website.Controllers.SampleController, Feature.Samples.Website"
        lifetime="Transient" />
    </services>
    <commerce.XA>
      <models>
        <SampleRenderingModel
          type="Feature.Samples.Website.Models.SampleRenderingModel, Feature.Samples.Website" />
        <SampleJsonResult
          type="Feature.Samples.Website.Models.JsonResults.SampleJsonResult, Feature.Samples.Website" />
        <SamplesJsonResult
          type="Feature.Samples.Website.Models.JsonResults.SamplesJsonResult, Feature.Samples.Website" />
      </models>
    </commerce.XA>
  </sitecore>
</configuration>
